{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ $pages := .Pages.ByDate.Reverse }}
  {{ $currentYear := "" }}
  
  {{ range $pages }}
    {{ $year := .Date.Format "2006" }}
    {{ if ne $currentYear $year }}
      {{ if ne $currentYear "" }}
        </ul>
      {{ end }}
      <h2>{{ $year }}</h2>
      <ul>
      {{ $currentYear = $year }}
    {{ end }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Date.Format "2006-01-02" }} - {{ .LinkTitle }}</a>
    </li>
  {{ end }}

  {{ if ne $currentYear "" }}
    </ul>
  {{ end }}
{{ end }}
