

body {
  background-color: var(--backgroundColor);
}



footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.post-link {
  text-decoration: none;
}

.post-link::before {
  content: '❯ ';
  opacity: 0;
  
}

.post-link:hover::before {
  opacity: 1; 
  
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust spacing between items */
  padding: 0;
  list-style: none; /* Remove default list styles */
}

.category-list li {
  
  padding: 10px;
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  text-align: center; /* Center align text */
}

.category-list li a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Use inherited color */
  font-weight: bold; /* Optional: Make the text bold */
}


.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Controls the space between the buttons */
  justify-content: space-between;
  margin: 0;
  padding: 0;
}