

body {
  background-color: var(--backgroundColor);
}



footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.post-link {
  text-decoration: none;
}

.post-link::before {
  content: '❯ ';
  opacity: 0;
  
}

.post-link:hover::before {
  opacity: 1; 
  
}


.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Controls the space between the buttons */
  justify-content: space-between;
  margin: 0;
  padding: 0;
}